html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.socials {
  display: flex;
  gap: 1rem;
  padding-bottom: 5px;
}

.user-links {
  display: flex;
  gap: 1rem;
}

.top-nav {
  display: flex;
  padding-top: 6px;
  justify-content: flex-end;
  padding-right: 20%;
  align-items: baseline;
}

.socials img {
  width: 14px;
  height: 14px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 4rem;
  font-size: 1rem;
}

.campaign-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid orangered;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}

.campaign-donate-text {
  color: orangered;
  padding: 5px;
}

.campaign-donate:hover {
  color: #f5f5f5;
  background-color: orangered;
}

.campaign-donate:hover > p {
  color: #f5f5f5;
  cursor: pointer;
}

#logo {
  padding-left: 18%;
}

.menu {
  /* padding-left: 10%; */
  padding-right: 25%;
  top: 2rem;
}

.hero {
  width: 70%;
  margin: auto;
  margin-top: 8rem;
  align-items: flex-start;
}

.card {
  text-align: start;
  width: 85%;
  margin-left: 0;
}

.headline h1 {
  font-size: 3rem;
}

.project {
  gap: 1rem;
}

.more-btn {
  width: 22%;
}

.projects img {
  width: 100%;
}

.partners {
  padding-bottom: 3rem;
}

.partners-desktop {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.partners-logo {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.events {
  flex-direction: row;
  gap: 1rem;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 6rem;
}

.past-events {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  background-color: #2e2e2e;
  color: #f5f5f5;
}

.donate-btn {
  width: 18rem;
  margin-top: inherit;
}

.objectives-container {
  padding-left: 15%;
  padding-right: 15%;
}

.values-container {
  flex-direction: row;
  width: 60%;
  gap: 0.25rem;
}

.values-reasons {
  flex-direction: column;
}
