@font-face {
  font-family: Lato-Light;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Medium;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-Medium.ttf);
}

@font-face {
  font-family: Lato-BoldItalic;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(/first-capstone-project/assets/fonts/Lato2OFL/Lato-Italic.ttf);
}

@font-face {
  font-family: Cocogoose-Pro-Block-Innerline;
  src: url(/first-capstone-project/assets/fonts/cocogoose-pro/Cocogoose-Pro-Block-Innerline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato-Regular', sans-serif;
}

body {
  background-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.navbar > img {
  width: 24px;
}

.desktop {
  display: none;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(/first-capstone-project/assets/images/bg2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  display: flex;
  opacity: 0.7;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f5f5;
  margin-top: 4rem;
}

.hero img {
  width: 100px;
}

.hero h1 {
  text-align: start;
  text-transform: uppercase;
  font-family: 'Lato-Bold', sans-serif;
}

.headline {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Lato', sans-serif;
  color: #f2603a;
}
.headline h1 {
  text-transform: uppercase;
  color: #f81404;
}
.card {
  border: 4px solid;
  border-color: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
}

.card p {
  font-family: 'Lato-Medium', sans-serif;
  font-size: 18px;
}

q {
  font-family: 'Lato-Italic', sans-serif;
}
.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/first-capstone-project/assets/images/values-bg.png);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  margin: 3rem 1rem;
  text-align: center;
  color: #f5f5f5;
  padding-top: 4rem;
}
.values h3 {
  margin-bottom: 1rem;
}

.values hr {
  border-top: 1px solid #ec5242;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  width: 12%;
  margin-bottom: 2rem;
}

.date,
.location {
  padding-left: 1rem;
}
.date p {
  font-size: 22px;
  font-weight: 700;
}
.values-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.values-reasons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
  border: 1px;
  border-style: solid;
  border-color: #f5f5f5;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px 10px;
  margin: auto;
  width: 90%;
}

.values-reasons li:nth-child(2) > p {
  color: #f2603a;
  font-family: 'Lato-Bold', sans-serif;
}

.values-reasons li:nth-child(3) > p {
  text-align: start;
  font-family: 'Lato-Regular', sans-serif;
}

.grey-bg {
  background-color: aliceblue;
}
.values-reasons li {
  color: #f5f5f5;
}

.donate-btn {
  background-color: #fe4e37;
  display: flex;
  width: 80%;
  height: 100px;
  margin: auto;
  color: white;
  padding: 15px 32px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  border: 1px solid transparent;
  font-family: 'Lato-Regular' sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition-property: transform, box-shadow;
  transition-duration: 0.1s;
}

.donate-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 3px 15px -2px;
}

.donate img {
  width: 100%;
}

.title-hr {
  border-top: 1px solid #fec6c0;
  width: 20%;
  margin: auto;
  margin-bottom: 3rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info p {
  font-family: 'Lato-Medium';
  color: #272a31;
}

.info p:first-of-type {
  color: #ec5242;
  font-family: 'Lato-italic', sans-serif;
}

.project-details {
  font-size: 14px;
}
.info hr {
  border-top: 1px solid #fec6c0;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects h3 {
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: 40% 50%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.projects img {
  width: 100px;
}

.arrow {
  background-image: url(/first-capstone-project/assets/images/chevron-down-solid.svg);
}

.more-btn img {
  width: 14px;
  height: 50px;
}

.more-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 4px;
  margin: auto;
  margin-top: 3rem;
  width: 95%;
  height: 55px;
}

.more-btn:hover {
  background-color: #fe4e37;
  color: #fff;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow:hover {
  border: solid #fff;
}

.menu {
  /* display: flex; */
  height: auto;
  /* margin-right: 10px; */
  background-color: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  padding-top: 10px;
}

.menu img {
  padding-left: 1rem;
}

#menu-close {
  display: none;
  width: 40px;
}

.nav-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding-top: 3rem;
  background-color: #414246;
  width: 100%;
}

.partners hr {
  border-top: 1px solid #ec5242;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  width: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.partners h3 {
  color: #fff;
  font-size: 1.5rem;
}

.partners-logo {
  display: flex;
  flex-direction: row;
}

.partners-logo img {
  width: 7rem;
  height: 80px;
}

.mozilla {
  width: 125px;
  height: 80px;
}

.naver {
  width: 125px;
  height: 80px;
}
.naver img {
  width: 7rem;
  height: 70px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  gap: 1rem;
}

.copyright {
  width: 50%;
}

.copyright p {
  font-family: 'Lato-Bold', sans-serif;
}
